<%= form_for(aaa) do |f| %>
  <% if aaa.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% aaa.errors.full_messages.each do |task_error_message| %>
          <li><%= task_error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  
  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %>

  <%= f.submit '投稿' %>
<% end %>